In [2]:
import os
import pandas as pd
os.getcwd()
#os.chdir()
os.listdir()
#os.makedir('test_folder')

['.git',
 '.ipynb_checkpoints',
 'Lecture-slides“',
 'Mappe1.xlsx',
 'Python Setup instructions .pdf',
 'README_Syllabus_Channels.md',
 'Text_Course_syllabus_WiSe2122_08102021.pdf',
 'W1_Python_basics.ipynb',
 'Week1_slides.pdf',
 'working_with_directory.ipynb']

In [10]:
print(os.getcwd())
path = "C:/Users/zhele/OneDrive - Universität Hamburg/Desktop/Text Analysis/Text-Analysis-for-Social-Sciences-in-Python/Mappe1.xlsx"

C:\Users\zhele\OneDrive - Universität Hamburg\Desktop\Text Analysis\Text-Analysis-for-Social-Sciences-in-Python

In [4]:
path = "C:/Users/zhele/OneDrive - Universität Hamburg/Desktop/Text Analysis/Text-Analysis-for-Social-Sciences-in-Python/Mappe1.xlsx"

In [5]:
path

'C:/Users/zhele/OneDrive - Universität Hamburg/Desktop/Text Analysis/Text-Analysis-for-Social-Sciences-in-Python/Mappe1.xlsx'

In [6]:
pd.read_excel(path)

   1  2  3
0  x  x  x

In [12]:
#if open file specify the encoding
f = open("test.txt", encoding = 'utf-8')
#perform file operations
f.close()

In [16]:
#! conda install pandas
#! conda list

In [20]:
x = 51
if x<30:
    print('small')
elif 30<=x<35:
    print('medium')
elif 35<=x<40:
    print('L')
elif 40<=x<50:
    print('XL')
else:
    print('XXL')

XXL

In [21]:
list(range(40,50))

[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [23]:
for x in [10, 20, 30]:
    print(x)

10
20
30

In [32]:
def hello(name, big=False):
    if big:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hi, {}!'.format(name))
        
hello('George')
hello('Josie', big=True)

Hi, George!
HELLO, JOSIE

In [34]:
list = []

for x in list:
    if x is None:
        print('Does not exist')

In [38]:
#how does it work?

In [39]:
import numpy as np

In [40]:

print(a[0,1])

NameError: name 'a' is not defined